.App {
  height: auto;
}

.gauge-chart {
  width: 100px !important;
}
.button-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.button {
  width: 200px;
  height: 50px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
